.progress{
    background-color: #d8d8d8;
    border-radius: 20px;
    border: transparent;
	position: relative;
	margin: 15px 0;
	height: 30px;
	max-width:  300px;
}
.progress-done{
    background: linear-gradient(94deg, rgba(206,205,255,1) 18%, rgba(113,110,255,1) 53%, rgba(18,13,250,1) 100%);
    //box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
    border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
    border: transparent;
    font-weight: bold;
}